<div class="page-width">
  <div class="section-header text-center">
    <h2>
      {{ section.settings.title }}
    </h2>
  </div>
  {% if section.settings.title != blank %}
  <ul class="grid grid--uniform grid--view-items">
    {% for block in section.blocks %}
    <li class="grid__item grid__item--featured-collections small--one-half medium-up--one-third">
      <div class="grid-view-item product-card">
        <img src="{{ block.settings.image | img_url: 'master' }}" style="width: 200px;" />
        <p>{{ block.settings.block-text }}</p>
      </div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Liquid Basics Example",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Liquid Basics Example"
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Custom Blocks",
        "settings": [
          {
            "type": "richtext",
            "id": "block-text",
            "label": "Block Text"           
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Pick an Image!"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Liquid Basics Example",
        "category": "Images"
      }
    ]
  }
{% endschema %}